.gradle/*
.idea/*
/build/*
/eclipse/*
CREDITS-fml.txt
forge-1.7*.txt
forge-1.8*.txt
LICENSE-fml*
*Credits*
MinecraftForge-License*
README.txt
*.iml
*.ipr
*.iws
/run*
/bin/*
.project
.settings/*
.classpath
*vsdx
/.metadata*